# Ejercicio Python de K-means
Realizaremos un ejercicio de prueba para comprender como funciona este algoritmo

In [232]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.cluster import KMeans
from sklearn.metrics import pairwise_distances_argmin_min

%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
plt.rcParams['figure.figsize'] = (16, 9)
plt.style.use('ggplot')

In [271]:
# Veamos cuantos usuarios en cada categoria hay en el grupo 0
group_referrer_index = copy['label'] ==0
group_referrals = copy[group_referrer_index]

diversidadGrupo =  pd.DataFrame()
diversidadGrupo['Nombre']=[0,1,2,3,4,5,6,7,8,9]
diversidadGrupo['ID']=group_referrals.groupby('categoria').size()
diversidadGrupo

   Nombre  ID
0          0       NaN
1          1      11.0
2          2      15.0
3          3       6.0
4          4       3.0
5          5       1.0
6          6       2.0
7          7       2.0
8          8       1.0
9          9       1.0